.font1{
	font-family: 'Quintessential', cursive !important;
}
.font2{
	font-family: 'Playfair Display SC', serif !important;
}
.font3{
	font-family: 'Ceviche One', cursive !important;
}
.black{
	color: rgb(20,20,20) !important;
}
.white{
	color: white !important;
}
.header1{
	position: absolute;
}
.absolute{
	position: absolute !important;
}
.login-info{
	width: 40%;
	margin: 0 auto;
	margin-top: 100px;
}
.centerdiv{
	margin: 0 auto !important;
}
.header1wrapper{
	background: rgba(10,10,10,.5);
	color: white;
}
.listusersconnected{
	list-style: none;
	left: -30px;
	position: relative;
}
img.cover {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
	
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
	
  /* Set up positioning */
  position: fixed;
  top: -100px;
  left: 0;

  opacity: .8
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
  img.cover {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
}