{% extends "base.html" %}

{% block content %}
<!-- Modal Attack-->
<div class="modal fade" id="newAttack" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">New Attack</h4>
      </div>
      <div class="modal-body">
		<div class="row">
			<div class="col-md-12">
				<form action="" method="POST" enctype="multipart/form-data">{% csrf_token %}

				<h4>Choose Commander</h4>
				<select name="commander" value="commander" class="form-control">
		            <option value="0">Choose Commander</option>
		            <option value="1">Commander 1</option>
		            <option value="2">Commander 2</option>
		        </select>

		       	<h4>Choose Territory</h4>
				<select name="commander" value="commander" class="form-control">
		            <option value="0">Choose Territory</option>
		            <option value="1">Territory 1</option>
		            <option value="2">Territory 2</option>
		        </select>

				<input type="submit" value="SAVE" class="btn btn-block btn- btn-success">
				</form>
			</div>
		</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Defend-->
<div class="modal fade" id="newDefend" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">New Defend</h4>
      </div>
      <div class="modal-body">
		<div class="row">
			<div class="col-md-12">
				<form action="" method="POST" enctype="multipart/form-data">{% csrf_token %}

				<h4>Choose Commander</h4>
				<select name="commander" value="commander" class="form-control">
		            <option value="0">Choose Commander</option>
		            <option value="1">Commander 1</option>
		            <option value="2">Commander 2</option>
		        </select>

		       	<h4>Choose Territory</h4>
				<select name="commander" value="commander" class="form-control">
		            <option value="0">Choose Territory</option>
		            <option value="1">Territory 1</option>
		            <option value="2">Territory 2</option>
		        </select>

				<input type="submit" value="SAVE" class="btn btn-block btn- btn-success">
				</form>
			</div>
		</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Movements-->
<div class="modal fade" id="newMovement" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">New Movement</h4>
      </div>
      <div class="modal-body">
		<div class="row">
			<div class="col-md-12">
				<form action="" method="POST" enctype="multipart/form-data">{% csrf_token %}

		       	<h4>From</h4>
				<select name="commander" value="commander" class="form-control">
		            <option value="0">Choose Territory</option>
		            <option value="1">Territory 1</option>
		            <option value="2">Territory 2</option>
		        </select>

		       	<h4>To</h4>
				<select name="commander" value="commander" class="form-control">
		            <option value="0">Choose Territory</option>
		            <option value="1">Territory 1</option>
		            <option value="2">Territory 2</option>
		        </select>

		        <h4>Points</h4>
		        <input type="text" name="points" class="form-control" placeholder="Points here">

				<input type="submit" value="SAVE" class="btn btn-block btn- btn-success">
				</form>
			</div>
		</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="row">
	<div class="col-md-8">
		<div>
			<h2><img src="{{ MEDIA_URL }}icons/download.svg">Communication Dashboard</h2>
			<h4>{{ user.empire.name }}</h4>
			<span>Summary by <a href="#">{{ user.empire.emperor }}</a></span></br>
			<a href="#"><span class="fui-lock"></span>Lock</a>
			<p>{{ user.empire.summary}}</p>
		</div>
		<div>
			<h4><img  src="{{ MEDIA_URL }}icons/clip.svg"> Today's Decisions</h4>

			<div>
				<h4>>>Attacks</h4>
				<div class="row" style="width:200px">
					<button class="btn btn-warning btn-lg" data-toggle="modal" data-target="#newAttack">
					  <span class="fui-plus"></span>New Attack
					</button>
				</div>
				<div class="attacksWrapper">
					<ul style="list-style:none">
						<li><a href="#">Commander 1</a> to <a href="#">Territory 1</a></li>
						<li><a href="#">Commander 1</a> to <a href="#">Territory 1</a></li>
						<li><a href="#">Commander 1</a> to <a href="#">Territory 1</a></li>
						<li><a href="#">+ Pro1</a></li>
						<li><a href="#">+ Pro1</a></li>
						<li><a href="#">- Con1</a></li>
						<li><a href="#">- Con1</a></li>
					</ul>
				</div>
			</div>

			<div>
				<h4>>>Defends</h4>
				<div class="row" style="width:200px">
					<button class="btn btn-warning btn-lg" data-toggle="modal" data-target="#newDefend">
					  <span class="fui-plus"></span>New Defend
					</button>				
				</div>				
				<div class="attacksWrapper">
						<div class="attacksWrapper">
							<ul style="list-style:none">
								<li><a href="#">Commander 1</a> to <a href="#">Territory 1</a></li>
								<li><a href="#">Commander 1</a> to <a href="#">Territory 1</a></li>
								<li><a href="#">Commander 1</a> to <a href="#">Territory 1</a></li>
								<li><a href="#">+ Pro1</a></li>
								<li><a href="#">+ Pro1</a></li>
								<li><a href="#">- Con1</a></li>
								<li><a href="#">- Con1</a></li>
							</ul>
					</div>
				</div>
			</div>

			<div>
				<h4>>>Movements</h4>
				<div class="row" style="width:200px">
					<button class="btn btn-warning btn-lg" data-toggle="modal" data-target="#newMovement">
					  <span class="fui-plus"></span>New Movement
					</button>	
				</div>
				<div class="attacksWrapper">
							<ul style="list-style:none">
								<li>Move <a href="#">10 points</a> from <a href="#">Territory 1</a> to <a href="#"> Territory 2</a></li>
								<li>Move <a href="#">10 points</a> from <a href="#">Territory 1</a> to <a href="#"> Territory 2</a></li>
								<li>Move <a href="#">10 points</a> from <a href="#">Territory 1</a> to <a href="#"> Territory 2</a></li>
								<li><a href="#">+ Pro1</a></li>
								<li><a href="#">+ Pro1</a></li>
								<li><a href="#">- Con1</a></li>
								<li><a href="#">- Con1</a></li>
							</ul>
				</div>
			</div>

		</div>


	</div>
</div>


{% include "chat.html" %}

{% endblock %}