{% extends "base.html" %}

{% block content %}
<!-- Modal Attack-->
<div class="modal fade" id="newAttack" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">New Attack</h4>
      </div>
      <div class="modal-body">
		<div class="row">
			<div class="col-md-12">
				<form action="" method="POST" enctype="multipart/form-data">{% csrf_token %}

				<h4>Choose Commander</h4>
				<select name="commander" value="commander" class="form-control">
		            <option value="0">Choose Commander</option>
		            {% for value in commanders %}
						<option value="{{value}}">{{value}}</option>
					{% endfor %}
		        </select>

		       	<h4>Choose Territory</h4>
				<select name="commander" value="commander" class="form-control">
		            <option value="0">Choose Territory</option>
		            {% for value in otrosterr %}
						<option value="{{value}}">{{value}}</option>
					{% endfor %}
		        </select>

				<input type="submit" value="SAVE" class="btn btn-block btn- btn-success">
				</form>
			</div>
		</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Defend-->
<div class="modal fade" id="newDefend" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">New Defend</h4>
      </div>
      <div class="modal-body">
		<div class="row">
			<div class="col-md-12">
				<form action="" method="POST" enctype="multipart/form-data">{% csrf_token %}

				<h4>Choose Commander</h4>
				<select name="commander" value="commander" class="form-control">
		            <option value="0">Choose Commander</option>
		            {% for value in commanders %}
						<option value="{{value}}">{{value}}</option>
					{% endfor %}
		        </select>

		       	<h4>Choose Territory</h4>
				<select name="commander" value="commander" class="form-control">
		            <option value="0">Choose Territory</option>
		            {% for value in misterr %}
						<option value="{{value}}">{{value}}</option>
					{% endfor %}
		        </select>

				<input type="submit" value="SAVE" class="btn btn-block btn- btn-success">
				</form>
			</div>
		</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Movements-->
<div class="modal fade" id="newMovement" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">New Movement</h4>
      </div>
      <div class="modal-body">
		<div class="row">
			<div class="col-md-12">
				<form action="" method="POST" enctype="multipart/form-data">{% csrf_token %}

		       	<h4>From</h4>
				<select name="commander" value="commander" class="form-control">
		            <option value="0">Choose Territory</option>
		            {% for value in todosterr %}
						<option value="{{value}}">{{value}}</option>
					{% endfor %}
		        </select>

		       	<h4>To</h4>
				<select name="commander" value="commander" class="form-control">
		            <option value="0">Choose Territory</option>
		            {% for value in todosterr %}
						<option value="{{value}}">{{value}}</option>
					{% endfor %}
		        </select>

		        <h4>Points</h4>
		        <input type="text" name="points" class="form-control" placeholder="Points here">

				<input type="submit" value="SAVE" class="btn btn-block btn- btn-success">
				</form>
			</div>
		</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="row">
	<div class="col-md-8">
		<div>
			<h2><img src="{{ MEDIA_URL }}icons/download.svg">Communication Dashboard</h2>

			<h4>{{ empire }}</h4>
			<span>Summary by <a href="#">{{ user.empire.emperor }}</a></span></br>
			<a href="#"><span class="fui-lock"></span>Lock</a>
			<p>{{ user.empire.summary}}</p>
		</div>
		
		<div>
			<h4><img  src="{{ MEDIA_URL }}icons/clip.svg"> Today's Decisions</h4>

			<div>
				<h4>>>Attacks</h4>
				<div class="row" style="width:200px">
					<button class="btn btn-warning btn-lg" data-toggle="modal" data-target="#newAttack">
					  <span class="fui-plus"></span>New Attack
					</button>
				</div>
				<div class="attacksWrapper">
					<ul style="list-style:none">
                        {% for d in attack_decisions %}
						<li><a href="#">Commander 1</a> to <a href="#">Territory 1</a></li>
                        {% endfor %}
						<li><a href="#">Commander 1</a> to <a href="#">Territory 1</a></li>
						<li><a href="#">Commander 1</a> to <a href="#">Territory 1</a></li>
						<li><a href="#">+ Pro1</a></li>
						<li><a href="#">+ Pro1</a></li>
						<li><a href="#">- Con1</a></li>
						<li><a href="#">- Con1</a></li>
					</ul>
				</div>
			</div>

			<div>
				<h4>>>Defends</h4>
				<div class="row" style="width:200px">
					<button class="btn btn-warning btn-lg" data-toggle="modal" data-target="#newDefend">
					  <span class="fui-plus"></span>New Defend
					</button>				
				</div>				
				<div class="attacksWrapper">
						<div class="attacksWrapper">
							<ul style="list-style:none">
								<li><a href="#">Commander 1</a> to <a href="#">Territory 1</a></li>
								<li><a href="#">Commander 1</a> to <a href="#">Territory 1</a></li>
								<li><a href="#">Commander 1</a> to <a href="#">Territory 1</a></li>
								<li><a href="#">+ Pro1</a></li>
								<li><a href="#">+ Pro1</a></li>
								<li><a href="#">- Con1</a></li>
								<li><a href="#">- Con1</a></li>
							</ul>
					</div>
				</div>
			</div>

			<div>
				<h4>>>Movements</h4>
				<div class="row" style="width:200px">
					<button class="btn btn-warning btn-lg" data-toggle="modal" data-target="#newMovement">
					  <span class="fui-plus"></span>New Movement
					</button>	
				</div>
				<div class="attacksWrapper">
							<ul style="list-style:none">
								<li>Move <a href="#">10 points</a> from <a href="#">Territory 1</a> to <a href="#"> Territory 2</a></li>
								<li>Move <a href="#">10 points</a> from <a href="#">Territory 1</a> to <a href="#"> Territory 2</a></li>
								<li>Move <a href="#">10 points</a> from <a href="#">Territory 1</a> to <a href="#"> Territory 2</a></li>
								<li><a href="#">+ Pro1</a></li>
								<li><a href="#">+ Pro1</a></li>
								<li><a href="#">- Con1</a></li>
								<li><a href="#">- Con1</a></li>
							</ul>
				</div>
			</div>

		</div>


	</div>
</div>


{% include "chat.html" %}
<script>
$(function() {
    var user_id = "{{user.id}}";
    var token = "{{user.websocket_token}}";
    var empire_id = "{{user.empire.id}}";
    var base_url = 'http://10.20.217.217:8000';
    var chat_empire = io.connect(base_url + 
            '/chat_empire?token=' + token + '&user_id=' + user_id + 
            '&empire_id=' + empire_id), 
        chat_oneonone = io.connect(base_url + 
            '/chat_oneonone');
    var users = {};
    chat_empire.on('connect', function () {
      //$.get list empire
    }).on('connect_failed', function () {
      //desplegar error en el servidor  
    }).on('presence logout', function (data) {
      //marcar que se desconectó un usuario
      console.log('chat_empire presence logout', data);
    }).on('presence login', function (data) {
      //marcar que entró un wey,
      //users[u.user_id]=u.username wey
      console.log('chat_empire presence login', data);
    }).on('receive message', function (data) {
      //desplegar mensaje
      console.log('receive message', data);
    });

    chat_oneonone.on('connect', function () {
      console.log("chat_oneonone connect.");
    }).on('connect_failed', function () {
      console.log("chat_oneonone connect_failed");    
    }).on('receive message', function (data) {
      console.log('receive message', data);
    }).on('presence logout', function (data) {
      console.log('chat_oneonone presence logout', data);
    }).on('presence login', function (data) {
      console.log('chat_oneonone presence login', data);
    });
});
</script>

{% endblock %}