{% extends "base.html" %}

{% block content %}
<div class="col-md-12">
	<img class="cover" src="{{ MEDIA_URL }}images/cover2.jpg">
	<div class="header1">
		<div class="text-center">
			<h2 class="font3 black">EmpireBT</h2>
		</div>
		
		<div class="header1wrapper text-center">
			<h1 class="font1">Raise an empire, command battles, betray friends and foe alike.</h1>
		</div>

		<div class="text-center">
			<div class="login-info">
				<a class="btn btn-block btn-lg btn-success" href="/register/">JOIN US</a>
				<a class="btn btn-block btn-lg btn-info" href="/login/">Login</a>
			</div>
		</div>
	</div>
</div>
{% endblock %}